.slider {
    position: relative;
    overflow: hidden;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto
}

.slider__wrapper {
    position: relative;
    overflow: hidden;
    /* background-color: #eee; */
}

.slider__items {
    display: flex;
    transition: transform .5s ease
}

.transition-none {
    transition: none
}

.slider__item {
    flex: 0 0 25%;
    max-width: 25%;
    position: relative
}

.slider__indicator{
    display: none;
}